/* Webfont: Bueno-Medium */@font-face {
    font-family: 'BuenoMed';
    src: url('Bueno-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('Bueno-Medium.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

