/* Webfont: Bueno-ExtraLight */@font-face {
    font-family: 'BuenoExtLt';
    src: url('Bueno-ExtraLight.woff2') format('woff2'), /* Modern Browsers */
         url('Bueno-ExtraLight.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

